@mixin border-radius($radius)
{
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;

        -ms-border-radius: $radius;
}

@mixin transition($transtion...)
{
    -webkit-transition: $transtion;
       -moz-transition: $transtion;
        -ms-transition: $transtion;
         -o-transition: $transtion;
            transition: $transtion;
}


@mixin translate ($x, $y)
{
    -webkit-translate: $x, $y;
       -moz-translate: $x, $y;
        -ms-translate: $x, $y;
         -o-translate: $x, $y;
            translate: $x, $y;
}

@mixin rotate($degrees)
{
    -webkit-transform: rotate($degrees);
       -moz-transform: rotate($degrees);
        -ms-transform: rotate($degrees);
         -o-transform: rotate($degrees);
            transform: rotate($degrees);
    // -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=#{-1*sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
    // filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=#{-1*sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
}
