// @include media-breakpoint-down(xs) {
//    #main-out {
//     height: 570px !important;
//   }
// }
@include media-breakpoint-up(md) {
  #main-step-4,
  #main-out {
    .btn {
      width: 40%;
    }
  }

  // #main-out {
  //   height: 450px !important;
  // }
}