// /* Fonts*/s
$base-font: 'Montserrat', sans-serif;
$weight: 700;
$semi-weight: 500;

// /* Colors*/
$red: #b61d1f;

// /* MUDANÇAS*/
select.form-control {
    text-indent: .01px;

    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
}

h1,h2,h3,h4,h5,h6,
p, small, label, span, .t-shadow {
	-moz-text-shadow: 1px 1px rgba(0,0,0,0.4);
	-webkit-text-shadow: 1px 1px rgba(0,0,0,0.4);
	text-shadow: 1px 1px rgba(0,0,0,0.4);
}

.t-shadow {font-size: 0.8rem;}

.input-alert {
	font-size: 0.6rem;
	line-height: 23px;

	.icon-alert {
		// background-image: url('../img/icon-alert.png');
		width: 20px;
		height: 20px;
		margin-right: 5px;
		background-color: $red;
    	@include border-radius(50%);
    	position: relative;
    	font-style: normal;

    	&:after {
			position: absolute;
			content: 'x';
			left: 5px;
			font-size: 1rem;
			top: -3px;
    	}
	}	
}