@import '../node_modules/bootstrap/scss/bootstrap';
@import 'mixins';
@import 'variables';
@import 'components';

body,
html,
.container {
	height: 100%;
}
body {
    font-family: $base-font;

    width: 100%;
    // height: 100%;

    color: white;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    // background-position: center -237px;
}

a {
    color: white;
}

p, label {
    font-size: .8rem;
}

small {
	font-size: 0.6rem;
}


// /* *//* *//**//* *//**//**//**//* class default*//**//**//**//**//**//**//**/
.weight {
    font-weight: $weight;
}
.semi-weight {
    font-weight: $semi-weight;
}

.btn {
    width: 100%;
    padding: 20px;

    background-color: $red;

    @include border-radius(30px);


    &:hover {
        color: white;
        background-color: rgb(195,31,33);
    }
}

.input-group-prepend {
    margin-right: 0;
}
.input-group-text,
.form-control {
    padding: 20px;

    color: white;
    border: none;
    background-color: rgba(87,86,86,.5);

    @include border-radius(30px);
    @include transition(all 0.25s ease-in-out);
}


input.form-control:focus {
    // color: white;
    border: none;
    background-color: white;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.input-group-prepend .input-group-text input.form-control:focus {
    background-color: rgba(87,86,86,.8);
}

input.form-control::-webkit-input-placeholder {
    color: white;
}

input.form-control::-moz-placeholder {
    color: white;
}

input.form-control:-ms-input-placeholder {
    color: white;
}

input.form-control::-ms-input-placeholder {
    color: white;
}

input.form-control::placeholder {
    color: white;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

// /* *//* *//**//* *//**//**//**//* class default*//**//**//**//**//**//**//**/

// /* *//* *//**//* *//**//**//**//* MAIN*//**//**//**//**//**//**//**/
main {
    min-height: 60%;
}

// /* *//* *//**//* *//**//**//**//* MAIN*//**//**//**//**//**//**//**/

// /* FOOOTER*/
.navigator,
.wrapper-page,
.save {
    position: relative;

    width: 35px;
    height: 35px;

    -webkit-border-radius: 50%;

            border-radius: 50%;
    background-color: $red;

    img {
        position: absolute;
        top: 10px;
    }

    .i-left {
        left: 50%;

        margin-left: -6px;
    }

    .i-right {
        right: 50%;

        margin-right: -6px;
    }

    .pg {
        position: absolute;
        top: 5px;
        left: 50%;

        margin-left: -4px;
    }
}
.save {
    width: 60px;
    height: 60px;

    .i-right {
        top: 20px;

        margin-right: -15px;
    }
}

.active {
    color: $red;
    background-color: white !important;
}
// /* FOOOTER*/
@import 'resize';